@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url(https://allfont.net/allfont.css?fonts=norwester);

html {
    scroll-behavior: smooth;
}
#main {
    background-color: black;
}

h1 {
    font-size: 2.1vw;
    font-family: 'Norwester', arial;
}
.container {
    position: relative;
}

#image {
    height:100vh;
    width: 100%;
}

.text-block {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    margin-left: 60vw;
}

h2, h3, p {
    text-align: center;
    line-height: 0.5;
}

h2 {
    font-size: 1.6vw;
    font-family: 'Norwester', arial;
}

#tribute-info, #img-caption {
    margin-top: 0;
    text-align: end;
}

#tribute-info {
    margin-bottom: 10vh;
}


.about, .featured {
    font-size: 1.25vw;
    /* margin-top: 10vh; */
    padding: 5%;
    border-radius: 15px;
    color: black;
    background-color: white;
}

.about:hover, .featured:hover {
    background-color: silver;
}



p {
    font-size: 1.1vw;
    font-family: 'Norwester', arial;
}

.button {
    display: flex;
    flex-flow: column wrap;
}

.desc {
    font-family: Helvetica, sans-serif;
    position: relative;
    color: white;
    font-size: 2.1vw;
    text-align: center;
    margin-left: 30vw;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
#books1, #books2 {
    font-family: 'Bungee', cursive;
    color: black;
    font-size: 3vw;
    text-align:center;
    margin-bottom: 0%;
    margin-top: 0%;
    background-color:gold;
}

.timeline {
    display: flex;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTElbPN4zJE77g7PopXk2p69bCzp_ueOTmpg&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    }

.earlytitle, .midtitle, .endtitle {
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 2vw;
    padding: 7;
    padding: 5%;
    background-color: rgb(207, 13, 207);
    color:yellow;
    
}

.family, .education, .business {
    flex: 1
}


ul {
    border-radius: 15px;
    font-family: 'Bentham', serif;
    line-height: 1.5;
    font-size: 1.1vw;
    color:white;
    opacity: 0;
    background-size: cover;
    align-items: stretch;
}

.earlydescription {
    background-image: url(https://www.fg-a.com/wallpapers/2020-black-family-silhouette-nature.jpg);
    background-position: center center;
}

.middescription {
    background-image: url(https://library.kissclipart.com/20180928/cww/kissclipart-blackboard-vector-clipart-blackboard-learn-arbel-c-5773a09629cdf412.png);
    background-position: center center;
}

.enddescription {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190623/ourmid/pngtree-black-business-atmosphere-business-card-background-image_239814.jpg);
    background-position: center center;
}

.earlytitle:hover, .midtitle:hover, .endtitle:hover {
    color: white;
    background-color: black;
}

.earlytitle:hover + .earlydescription, .midtitle:hover + .middescription, .endtitle:hover + .enddescription {
    opacity: 1;
}

.earlydescription:hover, .middescription:hover, .enddescription:hover {
    opacity: 1;
}

.earlydescription:hover, .middescription:hover, .enddescription:hover {
    opacity: 1;
}

.bookshelf {
    background-image: url(https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: 20%;
    margin-right: 20%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 5%;
}

.picture {
    height: 55vh;
    width: 15vw;
}


