@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
    .title-container{
      height:25%;
    }
  
      .title-img-container{
          height: 50%;
          width: 30%;
          margin-left: 0.7%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
      }
  
        .homebtn-container{
          height: 70%;
          width: 15%;
        }
  
          #homebtn:hover{
            cursor: pointer;
            background-color: #C7F6B6FF;
          }
  
          .body-img{
            height:100%;
            width:100%;
          }
  
        .title-img{
            height: 100%;
            width: 81.67%;
          }

  .button-containers{
    height:20%;
    width: 30%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 14%;
  }
        
            .univ-btn{
              border: 0;
              height: 35%;
              width: 35%;
              border-radius: 26px;
              background-image: linear-gradient(#D8DBE3, #F9FAFB);
              font-family: 'Fredoka One', cursive;
              font-size: 120%;
              box-shadow: 5px 5px 5px #D8DBE3;
            }
        
            #instructionbtn{
              color: #FFBD59;
            }
        
            #refresh{
              color: #FF5757;
            }
        
            #instructionbtn:hover, #refresh:hover{
              height: 36%;
              width: 36%;
              font-size: 140%;
              cursor: pointer;
            }
  
    .bigcircle-container{
      display: flex;
      position: fixed;
      height: 26.25%;
      width: 12.5%;
      background-color: white;
      left: 43.75%;
      border-radius: 50%;
      top: 8%;
      justify-content: center;
      align-items: center;
    }
  
      .circle-container{
        height: 80%;
        width: 80%;
        border-radius: 50%;
        background-color: #99EE99;        ;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
      }
  
        #story-img{
          height: 100%;
          width: 100%;
          margin-top: -25%;
          margin-bottom: 25%;
        }
  
        span {
          margin-top: -30%;
          font-family: 'Epilogue', sans-serif;
          font-size: 95%;
          font-weight: 700;
          color:white;
        }
  
  main{
    height:75%;
    background-color: #C7F6B6FF;
    display: flex;
  }

    .paragraph-container{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #message{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 7.5%;
      width: 80%;
      height: 70%;
      font-family: 'Epilogue', sans-serif;
      font-size: 170%;
      font-weight: 700;
      line-height: 1.15;
    }

    #play{
      border: 0;
      height: 10%;
      width: 30%;
      border-radius: 26px;
      background-image: linear-gradient(#D8DBE3, #F9FAFB);
      font-family: 'Fredoka One', cursive;
      font-size: 120%;
      box-shadow: 5px 5px 5px #D8DBE3;
      color: green;
      display: block;
    }

    #play:hover{
      height: 11%;
      width: 31%;
      font-size: 140%;
      cursor: pointer;
    }

    .speak-container{
      display: none;
      flex-direction: column;
      height: 15%;
      width: 30%;
      align-items: center;
      justify-content: center;
    }

    #label{
      color: red;
      font-family: 'Epilogue', sans-serif;
      font-size: 80%;
    }

      .speak{
        margin-top: 4%;
        height: 100%;
        width: 50%;
        background-color: rgb(0, 0, 0, 0.2);
        border-radius: 50%;
      }

        #mic{
          height: 100%;
          width: 100%;
        }
    
    .redbg{
      background-color: red;
    }
    
    #speakbtn:hover{
      background-color: red;
      cursor: pointer;
    }


    .slides-container{
      width: 60%;
    }

    #gerry{
      width:115%;
      height: 100%;
    }

    #animalpics{
      width:100%;
      height: 100%;
    }

    .animal-slides{
      position: fixed;
      height: 45%;
      width: 31.2%;
      right: 5.8%;
      bottom: 6.9%;
    }
  
  #end-containers{
    margin-top: -7.5%;
    display:none;
    width: 70%;
    height: 10.5%;
    justify-content: space-around;
  }

  .end-btn{
    border-radius: 26px;
    background-image: linear-gradient(#D8DBE3, #F9FAFB);
    font-family: 'Fredoka One', cursive;
    font-size: 100%;
    box-shadow: 5px 5px 5px #D8DBE3;
    width: 45%;
    height: 100%;
    border: 0;
  }

  #homepage{
    color: #FF5757;
  }

  #again{
    color: #13AB54;
  }

  #homepage:hover, #again:hover{
    width: 46%;
    height: 101%;
    font-size: 110%;
    cursor: pointer;
  }