html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

  .title-container{
    height:25%;
  }

    .title-img-container{
        height: 50%;
        width: 30%;
        margin-left: 0.7%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

      .homebtn-container{
        height: 70%;
        width: 15%;
      }

        #homebtn:hover{
          cursor: pointer;
        }

        .body-img{
          height:100%;
          width:100%;
        }

      .title-img{
          height: 100%;
          width: 81.67%;
        }

  .bigcircle-container{
    display: flex;
    position: fixed;
    height: 26.25%;
    width: 12.5%;
    background-color: white;
    left: 43.75%;
    border-radius: 50%;
    top: 8%;
    justify-content: center;
    align-items: center;
  }

    .circle-container{
      height: 80%;
      width: 80%;
      border-radius: 50%;
      background-color: #6EC5e9;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }

      #shape-img{
        height: 100%;
        width: 100%;
        margin-top: -25%;
        margin-bottom: 25%;
      }

      span {
        margin-top: -30%;
        font-family: 'Epilogue', sans-serif;
        font-size: 95%;
        font-weight: 700;
        color:white;
      }

  main{
    height:75%;
    background-color: #C1E8F9FF;
    /* display: flex; */
  }



.instruction-container{
  width:25%;
  border: 1px solid black;
  display: none;
}

.activity-container{
  width:75%;
  display: flex;
  flex-direction: column;
  height:100%;
}

  .shapes-container{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    height: 75%;
    /* background-color: #c1e8f9ff; */
    /* border: 1px solid black; */
  }

  /* .shapes{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:5%;
    margin-right: 5%;
    height: 15vw;
    width: 10vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .shape-pic{
    margin-top:0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 12vw;
    width: 12vw;
    background-color: white;
  }


  .dashboard-container{
    height: 25%;
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
  }

  .color-container{
    display: flex;
    width: 40%;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .color{
    margin: 3%;
  }

  #status{
    display:none;
  }