@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

  .title-container{
    height:25%;
  }

    .title-img-container{
        height: 50%;
        width: 30%;
        margin-left: 0.7%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

      .homebtn-container{
        height: 70%;
        width: 15%;
      }

        #homebtn:hover{
          cursor: pointer;
          background-color: #C1E8F9FF;
        }

        .body-img{
          height:100%;
          width:100%;
        }

      .title-img{
          height: 100%;
          width: 81.67%;
        }
  
  .button-containers{
    height:20%;
    width: 30%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 14%;
  }

    #refresh, #instructionbtn{
      border: 0;
      height: 35%;
      width: 35%;
      border-radius: 26px;
      background-image: linear-gradient(#D8DBE3, #F9FAFB);
      font-family: 'Fredoka One', cursive;
      font-size: 120%;
      box-shadow: 5px 5px 5px #D8DBE3;
    }

    #instructionbtn{
      color: #FFBD59;
    }

    #refresh{
      color: #FF5757;
    }

    #instructionbtn:hover, #refresh:hover{
      height: 36%;
      width: 36%;
      font-size: 140%;
      cursor: pointer;
    }

  .bigcircle-container{
    display: flex;
    position: fixed;
    height: 26.25%;
    width: 12.5%;
    background-color: white;
    left: 43.75%;
    border-radius: 50%;
    top: 8%;
    justify-content: center;
    align-items: center;
  }

    .circle-container{
      height: 80%;
      width: 80%;
      border-radius: 50%;
      background-color: #6EC5e9;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }

      #shape-img{
        height: 100%;
        width: 100%;
        margin-top: -25%;
        margin-bottom: 25%;
      }

      span {
        margin-top: -30%;
        font-family: 'Epilogue', sans-serif;
        font-size: 95%;
        font-weight: 700;
        color:white;
      }

  main{
    height:75%;
    background-color: #C1E8F9FF;
    display: flex;
  }

  .dashboard-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    align-items: center;
  }

    .intro{
      margin-top: 10%;
      font-family: 'Epilogue', sans-serif;
      font-size: 175%;
      font-weight: 700;
      line-height: 1.25;
      text-align: center;
      width: 70%;
    }

    .color-container{
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 30%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

      .color{
        margin: 1%;
        padding-top: 1%;
        font-family: 'Epilogue', sans-serif;
        font-size: 100%;
        font-weight: 700;
        width: 45%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        border-radius: 10px;
      }

        #red{
          background-color: #ff0000ff;
        }

        #orange{
          background-color: #ff9900ff;
        }

        #yellow{
          background-color: #ffff00ff;
          color: black;
        }

        #green{
          background-color: #6aa84fff;
        }

        #blue{
          background-color: #0073cfff;
        }

        #indigo{
          background-color: #4b0082ff;
        }

        #violet{
          background-color: #9400d3ff;
        }

        #brown{
          background-color: #964b00ff;
        }

  #play{
    margin-top:10%;
    border: 0;
    height: 10%;
    width: 30%;
    border-radius: 26px;
    background-image: linear-gradient(#D8DBE3, #F9FAFB);
    font-family: 'Fredoka One', cursive;
    font-size: 120%;
    box-shadow: 5px 5px 5px #D8DBE3;
    color: green;
    display: block;
  }

    #play:hover{
      height: 11%;
      width: 31%;
      font-size: 130%;
      cursor: pointer;
    }
 
  .speak-container{
    margin-top: 12%;
    display: none;
    flex-direction: column;
    height: 15%;
    width: 30%;
    align-items: center;
    justify-content: center;
  }

    #label{
      color: red;
      font-family: 'Epilogue', sans-serif;
      font-size: 80%;
    }

    .speak{
      margin-top: 4%;
      height: 100%;
      width: 60%;
      background-color: rgb(0, 0, 0, 0.2);
      border-radius: 50%;
    }

    #mic{
      height: 100%;
      width: 100%;
    }

    #speakbtn:hover{
      background-color: red;
      cursor: pointer;
    }

    .redbg{
      background-color: red;
    }

    #message{
      display:none;
      margin-top:12%;
      text-align: center;
      font-size: 150%;
      font-family: 'Epilogue', sans-serif;
      font-weight: 700;
    }

  .shapes-container{
    height: 100%;
    width: 70%;
  }

  .shape-pic{
    display: block;
    margin:0;
    height: 7.5vw;
    width: 7.5vw;
    background-color: white;
    position:fixed;
  }

  .train{
    margin-top: 12%;
    height: 80%;
    width:100%;
  }

    #star{
      left: 40.25%;
      bottom: 30.25%;
    }

    #oval{
      right: 36%;
      bottom: 46.5%;
    }

    #heart{
      right: 27.5%;
      bottom: 46.5%;
    }

    #rectangle{
      right: 36%;
      bottom: 21.5%;
    }

    #diamond{
      right: 27.5%;
      bottom: 21.5%;
    }

    #circle{
      right: 12%;
      bottom: 46.5%;
    }

    #square{
      right: 3.5%;
      bottom: 46.5%;
    }

    #triangle{
      right: 7.75%;
      bottom: 21.5%;
    }

    .smoke{
      display: block;
      position:fixed;
      height: 30%;
      width: 30%;
      bottom: 52%;
    }

    .hidden{
      display: none;
    }

    .modal-container {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255, 255, 255, 0.9);
      z-index: 11;
      display: none;
      position: fixed;
      justify-content: center;
      align-items: center;
    }
    
    .modal {
      height: 80%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }
    
    .pic-container{
      width: 100%;
    }
    
    #instruction{
      height: 100%;
      width: 100%;
    }
    
    .btn-align{
      margin-top: 2%;
      border-radius: 26px;
      background-image: linear-gradient(#D8DBE3, #F9FAFB);
      font-family: 'Fredoka One', cursive;
      font-size: 120%;
      box-shadow: 5px 5px 5px #D8DBE3;
      width: 45%;
      height: 7.5%;
      border: 0;
      color: #FF5757;
    }
    
    #return:hover{
      cursor: pointer;
      width: 46%;
      height: 8.5%;
      font-size: 130%;
    }
