body {
    background-image: url(https://cdn.wallpapersafari.com/28/62/FWZU45.jpg);
}

.ImgContainer{
    position: relative;
    text-align: center;
}

.ImgContainer img{
    width:50%;
    height:100%;
}

.Thought{
    position: absolute;
    top: 18%;
    left: 30%;
    opacity: 0;
}

.ImgContainer:hover .Thought{
    opacity: 1;
}

.Thought h1{
    font-size: 2vw;
}

.Book{
    position: absolute;
    top: 53%;
    right: 32%;
    font-size: 1vw;
}


