@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700;1,800&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Nunito+Sans&display=swap');
/* @import url('SupportPage/LandingPageTablet.css') */

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image: url(https://media.istockphoto.com/vectors/horizontal-vector-illustration-of-an-empty-white-grey-shade-grunge-vector-id1167128260?k=6&m=1167128260&s=612x612&w=0&h=zEBVXvRNK8nOC6OiJGxzBCCiQQt3vEeq0-32LNIAtYk=);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header of Landing Page */

    .sticky {
        position: fixed;
        top: 0;
    }
  
    .head {
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: #9BE1E7;
        width:100%;
        z-index: 4;
    }

    .bigscreen {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        z-index: 4;

    }

    .smallscreen {
        display: none;
    }

        .icons {
            height :50px;
            width: 50px;
        }

        .h-logo {
            display:flex;
            align-items: center;
            
        }

            #header-img {
                padding-top: 0.1vw;
                padding-bottom: 0.1vw;
                padding-left: 7.5vw;
            }

        /* Navigation Bar */
        
            .nav-link {
                float: right;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                font-size: 22px;
                font-family: 'Nunito Sans', sans-serif;
                color: #2B4381;
                font-weight:800;
                overflow: hidden;
            }

            #services, #about, #contact {
                margin-right: 5vw;
                text-decoration: none;
                color: #2B4381;
            }

            #request {
                background-color: #2B4381;
                font-size: 22px;
                border-radius: 25px;
                margin-right: 5vw;
                padding:0.5vw;
                border: 0;
                color: #9BE1E7;
                cursor:pointer;
                font-weight:800;
                font-family: 'Nunito Sans', sans-serif;
            }

            #about:hover, #services:hover, #contact:hover {
                text-decoration: underline;
                transition: all 0.4s ease;
                -webkit-transition: all 0.4 ease;
                cursor:pointer;
            }

            #request:hover {
                background-color: #9BE1E7;
                border: 2px solid #2B4381;
                color: #2B4381;
                cursor:pointer;
            }

            #header-img:hover {
                cursor:pointer;
            }

    
/* Fading Effect */
    @-webkit-keyframes fastfade {
        from {opacity: 0.4} 
        to {opacity: 1}
    }
            
    @keyframes fastfade {
        from {opacity: 0.4} 
        to {opacity: 1}
    }

    .fastfade {
        -webkit-animation-name: fastfade;
        -webkit-animation-duration: 1s;
        animation-name: fastfade;
        animation-duration: 1s;
        transition-timing-function: ease-in-out;
    }

/* Main Body of html */

    main {
        display:flex;
        flex-direction: column;
    }        
/* Video part of Landing Page */

    .vidandmute {
        height:93vh;
        width: 100%;
        margin: 0;
        border: 0;
        padding: 0;
    }

        .ads {
            object-fit: fill;
            height: 100%;
            width: 100%;
        }

        /* Mute button */
        .btn {
            position:fixed;
            top:95%;
            left:97%
        }

        .sound {
            height: 2vw;
            width: 2vw;
        }

        .off {
            display:block;
        }

        .on {
            display:none;
        }

        .hidden {
            display:none;
        }

        .block {
            display:block;
        }

        .sound:hover {
            cursor:pointer;
        }


    /* Who we are */
    .title-services {
        background-size: 100%;
        background-color: #2B4381;
        height: 30vw;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        color: #D9D8E4;
        margin: 0;
        border: 0;
    }

        .acct-services {
            font-size: 3.2vw;
            padding-left: 20%;
            padding-right: 20%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }

        .acct-services-desc {
            font-size: 1.3vw;
            padding-left: 18%;
            padding-right: 18%;
            text-align: center;
            font-family: 'Nunito Sans', sans-serif;
        }

    /* What we offer */
    .title-offer {
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        color: #2B4381;
        padding-top: 7.5vw;
        margin-left: 2.5vw;
        margin-bottom: 2vw;
    }

    .offer-services {
        height: auto;
        max-width: 100%;
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 100px;
        border: 0;
        color: #D9D8E4;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        justify-content: space-around;
    }

        .service-cards {
            border: solid 2px #2B4381;
            border-radius: 25px;
            background-color: #2B4381;
            display: flex;
            flex-direction: column;
            align-items: center;
            width:300px;
            padding-top: 40px;
            height:400px;
            
        }

            .img-services {
                height: 100px;
                width: 100px;
                background-color: #9BE1E7;
                border-radius: 25px;
            }

            h2 {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                font-size: 30px;
            }

            ul {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 17px;
                align-self: flex-start;
            }

            .service-cards:hover {
                background-color: #9BE1E7;
                cursor: pointer;
            }

            .service-cards:hover > h2 {
                color: #2B4381;
            }

            .service-cards:hover > ul {
                color: #2B4381;
            }

    /* Footer */
    footer {
        padding-top: 7.5vw;
        background-color: #2B4381;
        display: flex;
        flex-direction: column;
        color: #D9D8E4;
        padding-bottom: 5%;
        align-items: center;
        width: 100%;
    }

    .footer-column {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vw;
        flex-direction: column;
    }

    .left-column {
        display: flex;
        flex-direction: column;
    }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .inquiry {
            font-size: 50px;
            font-family: 'Montserrat', sans-serif;
        }

        .info {
            display: flex;
            flex-direction: column;
            width:90%;
        }


            #name-label, #email-label, #number-label, #inquiry-label  {
                font-size: 19px;
                padding-bottom: 25px;
                font-family: 'Nunito Sans', sans-serif;
                background-color: #2B4381;
            }

            #name, #email, #number, #comment {
                font-family: 'Nunito Sans', sans-serif;
                background-color: #2B4381;
                border: 0;
                border-bottom: 1px solid;
                border-color: #D9D8E4;
                color: #9BE1E7;
            }

            #comment {
                resize: none;
            }

            ::placeholder {
                color: #9BE1E7;
                font-size: 17px;
                opacity: 0.7;
            }

            #submit {
                border-radius: 25px;
                background-color: #9BE1E7;
                border: none;
                font-family: 'Montserrat', sans-serif;
                color: #2B4381;
                padding: 15px;
                font-size: 21px;
                cursor:pointer;
                width: 250px;
            }

            

    .right-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Nunito Sans', sans-serif;
        padding:0;
        margin-top: 100px;
        width: 100%;
        
    }
        .contact-title {
            font-size: 25px;
            margin-bottom: 50px;
            padding-right: 0;
            text-align: center;
        }

        .contact {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
        }

        .contact-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 50px;
        }

        
        .contact-icons-phone {
            height: 50px;
            width: 34px;
        }

        .contact-icons-email {
            height: 50px;
            width: 50px;
        }

        .contact-icons-loc {
            height: 50px;
            width: 50px;
        }

        .contact-text {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 19px;
        }


        

        #request2 {
            background-color: #9BE1E7;
            border-radius: 25px;
            border: none;
            color: #2B4381;
            cursor:pointer;
            font-family: 'Montserrat', sans-serif;
            padding: 15px;
            font-size: 21px;
            cursor:pointer;
            width: 250px;
            margin-top: 20px;
    
        }

        #request2:hover, #submit:hover {
            background-color: #2B4381;
            border: 2px solid #9BE1E7;
            color: #9BE1E7;
        }


@media only screen and (max-width: 1365px) {
    .offer-services {
        margin: 30px;
        margin-bottom: 60px;
}


/* Tablet and 1024 laptop screen */

@media only screen and (max-width: 1024px) {

    .vidandmute {
        height: auto;
        width: 100%;
    }
    
    .nav-link {
        font-size: 18px;
    }

    #request {
        font-size: 18px;
    }

    .title-services {
        height: auto;
        display: flex;
    }

        .acct-services {
            font-size: 40px;
            padding-left: 7%;
            padding-right: 7%;
        }

        .acct-services-desc {
            font-size: 20px;
            padding-left: 5%;
            padding-right: 5%;
        }
    
        .offer-services {
            height: auto;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            overflow-x: hidden;
            justify-content: space-around;
        }
    
            .service-cards {
                width:187.5px;
                padding-top: 25px;
                height:250px;
                margin: 0;
                
            }
    
                .img-services {
                    height: 62.5px;
                    width: 62.5px;
                    border-radius: 15px;
                }
    
                h2 {
                    font-size: 18.75px;
                }
    
                ul {
                    font-size: 10.625px;
                }



/* Ipad tablet and landscape phones */

@media screen and (max-width: 814px) {
    .bigscreen {
        display: none;
    }
    .smallscreen {
        display: flex;
        justify-content: space-around;
        width:100%;
    }

    /* .icons {
        border-left: solid 2px #2B4381;
    } */
}

  @media screen and (max-width: 812px) {
    .vidandmute {
        height:auto;
        width: 100%;
    }

    .title-services {
        height: auto;
        display: flex;
    }

    .title-offer {
        text-align: center;
    }

        .acct-services {
            font-size: 35px;
            padding-left: 7%;
            padding-right: 7%;
        }

        .acct-services-desc {
            font-size: 17.5px;
            padding-left: 5%;
            padding-right: 5%;
        }
    
        .offer-services {
            height: auto;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            overflow-x: hidden;
            justify-content: space-around;
        }
    
            .service-cards {
                width:187.5px;
                padding-top: 25px;
                height:250px;
                margin: 20px;
                
            }
    
                .img-services {
                    height: 62.5px;
                    width: 62.5px;
                    border-radius: 15px;
                }
    
                h2 {
                    font-size: 18.75px;
                }
    
                ul {
                    font-size: 10.625px;
                }



        .inquiry {
            text-align: center;
        }

        .info {
            display: flex;
            flex-direction: column;
            width:70%;
        }


            #name-label, #email-label, #number-label, #inquiry-label  {
                font-size: 15px;
            }

            ::placeholder {
                font-size: 13px;
            }

        }

@media screen and (max-width: 425px) {
    .btn {
        top:90%;
        left:88%
    }

    .acct-services {
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .acct-services-desc {
        font-size: 12.5px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .title-offer {
        font-size: 40px;
    }

    .offer-services {
        margin: 0;
        
    }

    .service-cards {
        margin:0;
        margin-bottom: 50px;
    }   

    .inquiry {
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .contact-title {
        font-size: 20px;
        margin-bottom: 50px;
        padding-right: 0;
        text-align: center;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        flex-direction: column;
    }

    .contact-details {
        margin-left: 0;
    }

}

@media screen and (max-width: 384px) {

    .offer-services {
        margin: 0;
        
    }

    .title-offer {
        font-size:30px;
    }

    .service-cards {
        margin:0;
        margin-bottom: 50px;
        width:160px;
        padding-top: 20px;
        height:220px;
    }

            .img-services {
                height: 50px;
                width: 50px;
            }

            h2 {
                font-size: 15px;
            }

            ul {
                font-size: 8.5px;
            }

}
    
    /* .contact-icons-phone {
        height: 50px;
        width: 34px;
    }

    .contact-icons-email {
        height: 50px;
        width: 50px;
    }

    .contact-icons-loc {
        height: 50px;
        width: 50px;
    }

    .contact-text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 19px;
    } */

}




/* Animation of Who are we and What we offer */
    /* .animate {
        opacity:0;
        transition: opacity 250ms ease-in;
    }

    .animate.show {
        opacity:1;
    } */

        
        





        /* .firm {
        height: 660px;
        width: 64.7%;
    } */

    /* .text-block {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 25%;
    right: 5%;
    margin-left: 70vw;
    width: 30vw;
    }

        .titletext {
            display: none;
            font-size: 50px;
            color: #2B4381;
            text-align: center;
        }

        .company {
            color: #C59849;
            font-size: 30px;
            font-family: 'Alegreya', serif;
            font-family: 'Playfair Display', serif;
        }

        .description {
            font-size:20px;
            color: #D9D8E4;
            text-align:justify;
        }

        #learn {
            margin-top: 2vw;
            margin-left: 5vw;
            border-width: 0;
            border-radius: 25px;
            color: white;
            background-image: linear-gradient(to right, #B8054D, #FF985D);
            padding-top: 3%;
            padding-bottom: 3%;
            width: 75%;
            font-size:20px;
        }

            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 3s;
                animation-name: fade;
                animation-duration: 3s;
                transition-timing-function: ease-in-out;
            }

            .fastfade {
                -webkit-animation-name: fastfade;
                -webkit-animation-duration: 1s;
                animation-name: fastfade;
                animation-duration: 1s;
                transition-timing-function: ease-in-out;
            }
            
            @-webkit-keyframes fade {
                from {opacity: 0} 
                to {opacity: 1}
            }
            
            @keyframes fade {
                from {opacity: 0} 
                to {opacity: 1}
            }
            
            @-webkit-keyframes fastfade {
                from {opacity: 0.4} 
                to {opacity: 1}
            }
            
            @keyframes fastfade {
                from {opacity: 0.4} 
                to {opacity: 1}
            }

    .initial {
        padding-bottom: 10%;
    } */

     /* Request Proposal Button */
    /* .proposal {
        width: 15%;
        margin-bottom: 2vw;
        border-radius: 25px;
        color:#D9D8E4;
        font-family: 'Nunito Sans', sans-serif;
        border: 2px solid #2B4381;
        font-size: large;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        align-self: center;
        background-color: #2B4381;
    }

    .proposal:hover {
        background-color: #D9D8E4;
        cursor:pointer;
        color: #2B4381;
    } */